<div class="jumbotron mt-4" >
<h1 class="display-4"> Notes ap nodejs</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et nesciunt fuga molestiae culpa temporibus non sed similique asperiores praesentium! Vero non corrupti perferendis, in ab maxime omnis nesciunt eius!</p>

<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis, officiis obcaecati dolores ea nemo, impedit quasi ab consequuntur laboriosam deserunt totam fugiat consectetur aspernatur neque sit veniam nihil optio!</p>
<a href="https://www.faztweb.com" class="btn btn-primary">aaaaaa</a>

</div>