<div class="jumbotron mt-2" >
<h1 class="display-4"> Bienvenido a la veterinaria Ferchi</h1>
<p class="lead">Un lugar donde tus mascotas estaran a salvo, fuertes y saludables!</p>
<img src="https://imgs.search.brave.com/VpPE-69ODpweSo-SAmodOx-aPvRxMcScB4-2ZvibUkU/rs:fit:881:588:1/g:ce/aHR0cHM6Ly9ibG9n/LmluZm9lbXBsZW8u/Y29tL21lZGlhLzIw/MTcvMDcvVGhpbmtz/dG9ja1Bob3Rvcy04/MDc4MzMyNDYuanBn" alt="" width="250" height="230" class="d-inline-block align-text-top">
<img src="https://imgs.search.brave.com/7t7pu2mc8QK-yRIKSLfUSGVh4LpLcmNCVSuGi305q-Q/rs:fit:690:497:1/g:ce/aHR0cHM6Ly9ibG9n/LmRlcnJhbWEub3Jn/LnBlL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE0LzA3L3ZldGVy/aW5hcmlvLmpwZw" alt="" width="250" height="230">
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis, officiis obcaecati dolores ea nemo, impedit quasi ab consequuntur laboriosam deserunt totam fugiat consectetur aspernatur neque sit veniam nihil optio!</p>
<a href="https://www.faztweb.com" class="btn btn-primary">login</a>

</div>